

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #e3d6c9;
  --secondary-color: #f0ffff;
  --alternative-color: #b456ae;
}

h1,h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-stretch {
  align-items: stretch;
  justify-content: stretch;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}

/* Header */
header {
  position: sticky;
  top: 0;
}
.logo-img {
  width: 16vh;
}
nav {
  height: 150px;
  display: grid;
  padding: 1em;
  grid-template-columns: 12fr 5fr;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li img {
  width: 25px;
}
nav ul li {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: background-color 350ms ease-in-out;
}
nav ul li:hover {
  background-color: var(--primary-color);
  transition: background-color 350ms ease-in-out;
}
/* pop-up*/

.favorite-button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.favorite-button :hover {
  color: rgb(255, 205, 3);
}

.image-popup {
  width: 100%;
  margin-top: 5px;
}

/* Connexion */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.login {
	background: #f3ede0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1, .connexion-title {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.btn-login {
	border-radius: 20px;
	border: 1px solid #9f867b;
	background-color: #d0ab9a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer;
}
.btn-login:hover{
  color:  #7c6961;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: #FADDE1;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #fadde1, #b18563);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/* Footer */
footer {
/*   position: sticky; */
  bottom: 0;
  /* height: 30px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5ccca;
  font-size: 0.75em;
}
.footer-starred{
  position: sticky;
  bottom: 0;
  /* height: 30px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5ccca;
  font-size: 0.75em;
}

/* Content */
.home-title{
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1585944285854-d06c019aaca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-size: cover;
  height: 35rem;
  background-attachment: fixed;
  color: #ffffff;
  padding-top: 195px;
}

.favorite-title {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1447&q=80");
  background-size: cover;
  height: 35rem;
  background-attachment: fixed;
  color: #ffffff;
  padding-top: 200px;
}

.app_view_name {
  /* position: absolute; */
  bottom: 0;
  right: 0;
  font-size: 5em;
}

#homepage {
  display: grid;
  grid-template-columns: 5fr 2.5fr;
}
#homepage h1{
    
}
#homepage aside {
  padding: 0.5em;
}
#homepage aside ul {
  justify-self: flex-end;
}
#homepage aside ul li {
  padding-top: 1.25em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#homepage aside ul li img {
  padding-bottom: 0;
}
#homepage aside ul li a {
  font-size: 0.75em;
}
#mappy {
  background-color: var(--alternative-color);
}
#map {
  height: 100%;
  height: 100%;
  width: 100%;
}
#starred {
  background-color: #ffffff;
/*   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23E3FCFF' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
 */}

.starred_item {
  width: 30%;
  text-align: center;
  line-height: 1.8em;
  padding: 10px;
  margin: 1%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #fff;
}
.starred_item p,
.starred_item a {
  font-size: 0.8em;
}
.starred_item img {
  width: 100%;
  border-radius: 10px;
}
#account {
  background-color: var(--primary-color);
}
#settings {
  background-color: var(--secondary-color);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  h5 {
    font-size: 0.75em;
  }
  nav {
/*     grid-template-columns: 1fr; */    grid-template-rows: 1fr 1fr;
    height: 120px;
  }
  nav ul {
    justify-content: space-evenly;
  }
  nav ul li {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transition: background-color 350ms ease-in-out;
  }
  nav ul li:hover {
    background-color: var(--primary-color);
    transition: background-color 350ms ease-in-out;
  }
  .logo {
    text-align: center;
  }
  .starred_item {
    width: 40%;
  }
}

@media screen and (max-width: 465px) {
  .starred_item {
    width: 100%;
  }
}
